<div class="container">
    <div style="display: flex; justify-content: space-between">
        <svg width="250" height="350" [currentScale]="scale">
            <!-- Draw bus background -->
            <g transform="rotate(90, 200, 200)">
                <rect
                    x="20"
                    y="55"
                    width="520"
                    height="220"
                    rx="20"
                    ry="20"
                    fill="#f2f2f2"
                />
                <!-- Draw bus seats -->
                <g id="seats">
                    <ng-container
                        *ngFor="
                            let row of busLayout.lowerDeck | keyvalue;
                            let rowIndex = index
                        "
                    >
                        <ng-container
                            *ngFor="let seat of row.value; let i = index"
                        >
                            <rect
                                [attr.x]="
                                    60 +
                                    i * (seat.seatType === 'sleeper' ? 100 : 55)
                                "
                                [attr.y]="
                                    seat.seatType === 'sleeper' &&
                                    rowIndex === 2
                                        ? 230
                                        : 70 + rowIndex * 40
                                "
                                [attr.width]="
                                    seat.seatType === 'sleeper' ? 65 : 30
                                "
                                height="30"
                                rx="5"
                                ry="5"
                                [attr.fill]="
                                    seat.booked ? '#ffffff' : '#78c2ad'
                                "
                                (click)="onSeatClick(seat.seatNumber)"
                            />
                            <!-- Display seat number -->
                            <text
                                [attr.x]="
                                    75 +
                                    i * (seat.seatType === 'sleeper' ? 100 : 55)
                                "
                                [attr.y]="
                                    seat.seatType === 'sleeper' &&
                                    rowIndex === 2
                                        ? 250
                                        : 90 + rowIndex * 40
                                "
                                font-size="15"
                                fill="black"
                                text-anchor="middle"
                                alignment-baseline="middle"
                            >
                                {{ seat.seatNumber }}
                            </text>
                        </ng-container>
                    </ng-container>
                </g>
            </g>
        </svg>

        <svg width="250" height="350" [currentScale]="scale">
            <!-- Draw bus background -->
            <g transform="rotate(90, 200, 200)">
                <rect
                    x="20"
                    y="55"
                    width="520"
                    height="220"
                    rx="20"
                    ry="20"
                    fill="#f2f2f2"
                />
                <!-- Draw bus seats -->
                <g id="seats">
                    <ng-container
                        *ngFor="
                            let row of busLayout.upperDeck | keyvalue;
                            let rowIndex = index
                        "
                    >
                        <ng-container
                            *ngFor="let seat of row.value; let i = index"
                        >
                            <rect
                                [attr.x]="
                                    60 +
                                    i * (seat.seatType === 'sleeper' ? 100 : 50)
                                "
                                [attr.y]="
                                    seat.seatType === 'sleeper' &&
                                    rowIndex === 2
                                        ? 230
                                        : 70 + rowIndex * 40
                                "
                                [attr.width]="
                                    seat.seatType === 'sleeper' ? 65 : 30
                                "
                                height="30"
                                rx="5"
                                ry="5"
                                [attr.fill]="
                                    seat.booked ? '#ffffff' : '#78c2ad'
                                "
                                (click)="onSeatClick(seat.seatNumber)"
                            />
                            <!-- Display seat number -->
                            <text
                                [attr.x]="
                                    75 +
                                    i * (seat.seatType === 'sleeper' ? 100 : 60)
                                "
                                [attr.y]="
                                    seat.seatType === 'sleeper' &&
                                    rowIndex === 2
                                        ? 250
                                        : 90 + rowIndex * 40
                                "
                                font-size="15"
                                fill="black"
                                text-anchor="middle"
                                alignment-baseline="middle"
                            >
                                {{ seat.seatNumber }}
                            </text>
                        </ng-container>
                    </ng-container>
                </g>
            </g>
        </svg>
    </div>
</div>
