<div class="container list-item">
    <div class="d-flex">
        <div class="flex-fill text-start">
            <b>Bus Name : </b> {{ bus.busName }}
            <br />
            <b>Bus No : </b> {{ bus.busNo }}
        </div>
        <div class="flex-fill">
            <div>
                <b>From : </b> {{ bus.source }}
                <br />
                <b>to : </b> {{ bus.destination }}
            </div>
        </div>
        <div class="flex-fill text-end">
            <b>Avg. Price : </b>
            <i class="fa-solid fa-rupee-sign indian-rupee-icon"></i> 700 (S) - 1150 (SL)
            <br />
            <b>Free Seats : </b> {{ bus.availSeats }}
        </div>
        <hr class="hr-divider" />
    </div>
    <div class="text-center view-seat" (click)="viewSeats = !viewSeats">
        <hr class="hr-divider" />
        <span *ngIf="viewSeats === false; else elsePart">View Seats</span>
        <ng-template #elsePart><span>Hide Seats</span></ng-template>
    </div>

    <div class="container" *ngIf="viewSeats">
        <hr class="hr-divider" />
        <div class="d-flex">
            <app-bus-seats class="col-6" [bus-seat]="bus"></app-bus-seats>
            <app-bus-seat-price class="col-6"></app-bus-seat-price>
        </div>
    </div>
</div>
