@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');


.list-item {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.list-item:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.view-seat {
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

.bus-info {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
}

.indian-rupee-icon {
    color: #ff9900;
    font-size: 18px;
    margin-right: 5px;
}

.hr-divider {
    margin-top: 15px;
    border: 0;
    border-top: 1px solid #e0e0e0;
}

.fa-icon {
    color: #333333;
    font-size: 16px;
    margin-right: 5px;
}