<!-- user-signup.component.html -->
<form [formGroup]="registerForm" (ngSubmit)="onSignup()">
    <div class="container text-center">
        <div class="form-outline mb-4 mt-4">
            <div class="title">
                Sign-Up
                <fa-icon [icon]="faBus"></fa-icon>
            </div>
        </div>

        <div class="form-outline mb-4 mt-4">
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input
                    formControlName="username"
                    type="text"
                    matInput
                    placeholder="How to Address You?"
                />
            </mat-form-field>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4 mt-4">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input
                    formControlName="email"
                    type="text"
                    matInput
                    placeholder="Your Email"
                />
            </mat-form-field>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4 mt-4">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input
                    type="password"
                    formControlName="password"
                    matInput
                    placeholder="Min. 8 characters"
                />
            </mat-form-field>

            <ul class="error-list" *ngIf="registerForm.get('password').touched">
                <li *ngIf="registerForm.get('password').hasError('required')">
                    Password is required.
                </li>
                <li *ngIf="registerForm.get('password').hasError('minlength')">
                    At least 8 characters long.
                </li>
                <li *ngIf="registerForm.get('password').hasError('maxlength')">
                    Password cannot exceed 30 characters.
                </li>
                <li *ngIf="registerForm.get('password').hasError('uppercase')">
                    At least 1 uppercase letter.
                </li>
                <li *ngIf="registerForm.get('password').hasError('lowercase')">
                    At least 1 lowercase letter.
                </li>
                <li *ngIf="registerForm.get('password').hasError('numeric')">
                    At least 1 numeric digit.
                </li>
                <li *ngIf="registerForm.get('password').hasError('special')">
                    At least 1 special character.
                </li>
            </ul>
        </div>

        <!-- Submit button -->
        <div class="form-outline mb-4">
            <button
                [disabled]="registerForm.invalid"
                type="submit"
                mat-stroked-button
                color="primary"
            >
                SignUp
            </button>
        </div>
    </div>

    <div *ngIf="signupError" class="text-danger mb-4 mt-4 text-center">
        {{ signupError }}
    </div>
</form>
