<div class="container mt-5">
    <h2 class="text-center mb-4">Seat Personal Info</h2>

    <ng-container *ngIf="personalDetailForms.length > 0; else emptySeats">
        <div *ngFor="let form of personalDetailForms">
            <div class="card mb-4 size-it">
                <h4 class="card-header">Seat {{ form.get("seatNo").value }}</h4>
                <div class="card-body">
                    <form [formGroup]="form" class="row g-3">
                        <div class="col">
                            <!-- Changed to col -->
                            <label for="name" class="form-label">Name:</label>
                            <input
                                id="name"
                                type="text"
                                class="form-control"
                                formControlName="name"
                            />
                            <div
                                *ngIf="
                                    form.get('name').hasError('required') &&
                                    form.get('name').touched
                                "
                                class="text-danger"
                            >
                                Name is required.
                            </div>
                            <div
                                *ngIf="
                                    form.get('name').hasError('minlength') &&
                                    form.get('name').touched
                                "
                                class="text-danger"
                            >
                                Name must be at least 3 characters.
                            </div>
                            <div
                                *ngIf="
                                    form.get('name').hasError('pattern') &&
                                    form.get('name').touched
                                "
                                class="text-danger"
                            >
                                Name can only contain letters and spaces.
                            </div>
                        </div>

                        <div class="col">
                            <!-- Changed to col -->
                            <label for="age" class="form-label">Age:</label>
                            <input
                                id="age"
                                type="number"
                                class="form-control"
                                formControlName="age"
                            />
                            <div
                                *ngIf="
                                    form.get('age').hasError('required') &&
                                    form.get('age').touched
                                "
                                class="text-danger"
                            >
                                Age is required.
                            </div>
                            <div
                                *ngIf="
                                    form.get('age').hasError('min') &&
                                    form.get('age').touched
                                "
                                class="text-danger"
                            >
                                Age must be at least 5.
                            </div>
                        </div>

                        <div class="col">
                            <!-- Changed to col -->
                            <label for="gender" class="form-label"
                                >Gender:</label
                            >
                            <select
                                id="gender"
                                class="form-select"
                                formControlName="gender"
                            >
                                <option value="" disabled>Select Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                            <div
                                *ngIf="
                                    form.get('gender').hasError('required') &&
                                    form.get('gender').touched
                                "
                                class="text-danger"
                            >
                                Gender is required.
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button (click)="onSubmit()" mat-stroked-button class="mt-3">
                Submit
            </button>
        </div>
    </ng-container>

    <ng-template #emptySeats>
        <p class="text-center">
            No seats selected.
            <button (click)="goToPreviousPage()" mat-button>Go Back</button>
        </p>
    </ng-template>
</div>
