<div class="container" style="margin-top: -20px">
    <div class="legend mt-4 d-flex text-center" style="margin-left: -40px">
        <div class="legend-item flex-fill">
            <div class="legend-color" style="background-color: lightblue"></div>
            <div class="legend-label">Male</div>
        </div>
        <div class="legend-item flex-fill">
            <div class="legend-color" style="background-color: lightpink"></div>
            <div class="legend-label">Female</div>
        </div>
        <div class="legend-item flex-fill">
            <div class="legend-color" style="background-color: #ffffff"></div>
            <div class="legend-label">Free</div>
        </div>
        <div class="legend-item flex-fill">
            <div
                class="legend-color"
                style="background-color: lightgreen"
            ></div>
            <div class="legend-label">Picked</div>
        </div>
    </div>
    <div *ngIf="pickedSeats.length == 5" class="text-center" style="color: red">
        Max. 5 seats reached !
    </div>

    <div style="display: flex; margin-left: -50px">
        <!-- Lower Deck -->
        <svg width="320" height="430" [currentScale]="scale">
            <!-- Draw bus background -->
            <g transform="rotate(90, 200, 200)">
                <rect
                    x="10"
                    y="90"
                    width="520"
                    height="220"
                    rx="20"
                    ry="20"
                    fill="#f2f2f2"
                />
                <!-- Draw bus seats -->
                <g id="seats" [attr.transform]="'translate(10, 0)'">
                    <ng-container
                        *ngFor="
                            let row of Bus.lowerDeck | keyvalue;
                            let rowIndex = index
                        "
                    >
                        <ng-container
                            *ngFor="let seat of row.value; let i = index"
                        >
                            <!-- Check if the seat is unbooked -->
                            <ng-container *ngIf="!seat.booked">
                                <rect
                                    [attr.x]="
                                        40 +
                                        i *
                                            (seat.seatType.split('-')[0] ===
                                            'sleeper'
                                                ? 100
                                                : 55)
                                    "
                                    [attr.y]="
                                        seat.seatType.split('-')[0] ===
                                            'sleeper' && rowIndex === 2
                                            ? 260
                                            : 100 + rowIndex * 40
                                    "
                                    [attr.width]="
                                        seat.seatType.split('-')[0] ===
                                        'sleeper'
                                            ? 65
                                            : 30
                                    "
                                    height="30"
                                    rx="5"
                                    ry="5"
                                    (click)="
                                        onUnbookedSeatClick(
                                            seat.seatNumber,
                                            seat.seatType.split('-')[0],
                                            seat.price
                                        )
                                    "
                                    [ngStyle]="{
                                        fill: isSeatSelected(seat.seatNumber)
                                    }"
                                />
                                <!-- Display seat number -->
                                <text
                                    [attr.x]="
                                        55 +
                                        i *
                                            (seat.seatType.split('-')[0] ===
                                            'sleeper'
                                                ? 100
                                                : 55)
                                    "
                                    [attr.y]="
                                        seat.seatType.split('-')[0] ===
                                            'sleeper' && rowIndex === 2
                                            ? 280
                                            : 120 + rowIndex * 40
                                    "
                                    font-size="15"
                                    fill="black"
                                    text-anchor="middle"
                                    alignment-baseline="middle"
                                    [style.pointer-events]="'none'"
                                >
                                    {{ seat.seatNumber }}
                                </text>
                            </ng-container>
                            <!-- Add a placeholder for booked seats -->
                            <ng-container *ngIf="seat.booked">
                                <rect
                                    [attr.x]="
                                        40 +
                                        i *
                                            (seat.seatType.split('-')[0] ===
                                            'sleeper'
                                                ? 100
                                                : 50)
                                    "
                                    [attr.y]="
                                        seat.seatType.split('-')[0] ===
                                            'sleeper' && rowIndex === 2
                                            ? 260
                                            : 110 + rowIndex * 40
                                    "
                                    [attr.width]="
                                        seat.seatType.split('-')[0] ===
                                        'sleeper'
                                            ? 65
                                            : 30
                                    "
                                    height="30"
                                    rx="5"
                                    ry="5"
                                    [attr.fill]="
                                        seat.gender === 'male'
                                            ? 'lightblue'
                                            : seat.gender === 'female'
                                            ? 'lightpink'
                                            : '#ffffff'
                                    "
                                />
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </g>
            </g>
        </svg>
        <!-- Upper Deck -->
        <svg width="320" height="430" [currentScale]="scale">
            <!-- Draw bus background -->
            <g transform="rotate(90, 200, 200)">
                <rect
                    x="10"
                    y="90"
                    width="520"
                    height="220"
                    rx="20"
                    ry="20"
                    fill="#f2f2f2"
                />
                <!-- Draw bus seats -->
                <g id="seats" [attr.transform]="'translate(10, 0)'">
                    <ng-container
                        *ngFor="
                            let row of Bus.upperDeck | keyvalue;
                            let rowIndex = index
                        "
                    >
                        <ng-container
                            *ngFor="let seat of row.value; let i = index"
                        >
                            <!-- Check if the seat is unbooked -->
                            <ng-container *ngIf="!seat.booked">
                                <rect
                                    [attr.x]="
                                        40 +
                                        i *
                                            (seat.seatType.split('-')[0] ===
                                            'sleeper'
                                                ? 100
                                                : 50)
                                    "
                                    [attr.y]="
                                        seat.seatType.split('-')[0] ===
                                            'sleeper' && rowIndex === 2
                                            ? 260
                                            : 110 + rowIndex * 40
                                    "
                                    [attr.width]="
                                        seat.seatType.split('-')[0] ===
                                        'sleeper'
                                            ? 65
                                            : 30
                                    "
                                    height="30"
                                    rx="5"
                                    ry="5"
                                    (click)="
                                        onUnbookedSeatClick(
                                            seat.seatNumber,
                                            seat.seatType.split('-')[0],
                                            seat.price
                                        )
                                    "
                                    [ngStyle]="{
                                        fill: isSeatSelected(seat.seatNumber)
                                    }"
                                />
                                <!-- Display seat number -->
                                <text
                                    [attr.x]="
                                        75 +
                                        i *
                                            (seat.seatType.split('-')[0] ===
                                            'sleeper'
                                                ? 100
                                                : 60)
                                    "
                                    [attr.y]="
                                        seat.seatType.split('-')[0] ===
                                            'sleeper' && rowIndex === 2
                                            ? 280
                                            : 125 + rowIndex * 40
                                    "
                                    font-size="15"
                                    fill="black"
                                    text-anchor="middle"
                                    alignment-baseline="middle"
                                    [style.pointer-events]="'none'"
                                >
                                    {{ seat.seatNumber }}
                                </text>
                            </ng-container>
                            <!-- Add a placeholder for booked seats -->
                            <ng-container *ngIf="seat.booked">
                                <rect
                                    [attr.x]="
                                        40 +
                                        i *
                                            (seat.seatType.split('-')[0] ===
                                            'sleeper'
                                                ? 100
                                                : 50)
                                    "
                                    [attr.y]="
                                        seat.seatType.split('-')[0] ===
                                            'sleeper' && rowIndex === 2
                                            ? 260
                                            : 110 + rowIndex * 40
                                    "
                                    [attr.width]="
                                        seat.seatType.split('-')[0] ===
                                        'sleeper'
                                            ? 65
                                            : 30
                                    "
                                    height="30"
                                    rx="5"
                                    ry="5"
                                    [attr.fill]="
                                        seat.gender === 'male'
                                            ? 'lightblue'
                                            : seat.gender === 'female'
                                            ? 'lightpink'
                                            : '#ffffff'
                                    "
                                />
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </g>
            </g>
        </svg>
    </div>
</div>
