<div class="container">
    <div class="d-flex">
        <div class="flex-fill">
            <b> Selected Seats : </b>
        </div>
        <div class="text-end flex-fill">
            <i class="fa-solid fa-bus"> </i> {{ busNo }}
        </div>
    </div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Seat No.</th>
                <th scope="col">Seat Type.</th>
                <th scope="col">Seat Price.</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let seat of seats; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ seat.seatNo }}</td>
                <td>{{ seat.seatType }}</td>
                <td>{{ seat.seatPrice }}</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="seats.length > 0" class="text-center">
        <br /><b>Total : </b>
        <i class="fa-solid fa-indian-rupee-sign indian-rupee-icon"></i>
        {{ calculateTotal() }}
        <br />
        <br />
        <button mat-stroked-button (click)="onContinueToDetailsPage()">
            Continue
        </button>
    </div>
</div>
