<div
    class="container"
    style="margin-top: 70px"
    *ngIf="bookingLogs.length > 0; else noLogs"
>
    <h2 class="text-center mt-4 mb-4">Booking Logs</h2>

    <div class="card mb-4" *ngFor="let log of bookingLogs">
        <div class="card-header">
            <ng-container *ngIf="log.status === 'booked'">
                <button
                    mat-stroked-button
                    class="float-end"
                    (click)="cancelBooking(log)"
                >
                    Cancel Booking
                </button>
            </ng-container>
            <h5><strong>Status : </strong> {{ log.status }}</h5>
            <p><strong>User ID : </strong> {{ log.uid }}</p>
            <p><strong>Bus Number : </strong> {{ log.busNo }}</p>
        </div>
        <div class="card-body">
            <h6><strong>Booked Seats : </strong></h6>
            <ul class="list-group">
                <li
                    class="list-group-item"
                    *ngFor="let seat of log.bookedSeats"
                >
                    <div
                        style="
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                        "
                    >
                        <p>
                            <strong>Seat Number : </strong>
                            {{ seat.seatNumber }}
                        </p>
                        <p><strong>Name : </strong> {{ seat.name }}</p>
                        <p><strong>Age : </strong> {{ seat.age }}</p>
                        <p><strong>Gender : </strong> {{ seat.gender }}</p>
                        <p>
                            <strong>Seat Constraint : </strong
                            >{{ seat.seatConstraint }}
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<ng-template #noLogs>
    <p class="mt-4"><strong>No booking logs available.</strong></p>
</ng-template>
