<div class="container mt-3">
    <ul class="nav nav-tabs">
        <li
            class="nav-item"
            (click)="selectTab('avail-buses')"
            [class.active]="selectedTab === 'avail-buses'"
        >
            <a class="nav-link">Available Buses</a>
        </li>
        <li
            class="nav-item"
            (click)="selectTab('add-bus')"
            [class.active]="selectedTab === 'add-bus'"
        >
            <a class="nav-link">Add Bus</a>
        </li>
    </ul>

    <div class="tab-content mt-3">
        <div *ngIf="selectedTab === 'add-bus'">
            <app-add-bus></app-add-bus>
        </div>
        <div *ngIf="selectedTab === 'avail-buses'">
            <app-avail-buses></app-avail-buses>
        </div>
    </div>
</div>
