<div
    class="container d-flex justify-content-center align-items-center min-vh-100"
>
    <div class="card m-2 h-100 card-1">
        <div class="card-body text-center d-flex flex-column">
            <h5 class="card-title">Manage Bus</h5>
            <p class="card-text">
                Add, Decide, Specify <br />
                All Your Bus needs
            </p>
        </div>
    </div>
    <div class="card m-2 h-100 card-2">
        <div class="card-body text-center d-flex flex-column">
            <h5 class="card-title">User View</h5>
            <p class="card-text">Switch Into User View</p>
        </div>
    </div>

    <div class="card m-2 h-100 card-3">
        <div class="card-body text-center d-flex flex-column">
            <h5 class="card-title">Booking Logs</h5>
            <p class="card-text">View, Cancel, Review <br />all bookings</p>
        </div>
    </div>
</div>
