.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-body {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card:hover .card-body {
    opacity: 1;
}

.card-1{
background-color: lightblue;
}

.card-2{
background-color: lightgreen;
}

.card-3{
background-color: lightpink;
}
